/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/Pratica1/exercicio4/Aula03/build/
/Pratica2/nbproject/private/
/Pratica2/Aula4/nbproject/private/
/Pratica1/exercicio4/Aula03/nbproject/private/
/Pratica2/Aula4/build/
/Pratica2/Aula4/dist/
/pratica4/testentrada/nbproject/private/
/pratica4/testentrada/dist/
/pratica4/testentrada/build/
/pratica4/Concessionaria/nbproject/private/
/pratica4/Concessionaria/dist/
/pratica4/Concessionaria/build/
/pratica5/exercicio1/exercicioHeranca/nbproject/private/
/pratica6/ListaDeContatos/nbproject/private/
/pratica6/celular/nbproject/private/
/pratica6/celular/build/
/pratica6/celular/dist/